[Unit]
Description=icecc scheduler

[Service]
Type=simple
ExecStart=/usr/sbin/icecc-scheduler -u icecream
PIDFile=/run/icecc-scheduler-service.pid

[Install]
WantedBy=multi-user.target
