[Unit]
Description=icecc daemon

[Service]
Type=simple
ExecStart=/usr/sbin/iceccd -u icecream
PIDFile=/run/iceccd-service.pid

[Install]
WantedBy=multi-user.target
